*, *:focus {
  outline: none !important;
}

.opblock {
  background-color: transparent !important;
}

.renderedMarkdown code {
  color: rgb(0 0 0 / 80%) !important;
}

.view-line-link {
  transition: none !important;
}

#external-links a {
  text-decoration: none !important;
}
