TZ="UTC"
NODE_ENV="local"
PORT="8080"

# http://localhost:$PORT
# https://api.promise.local
# https://api.local.promise.co
API_URL="http://localhost:$PORT"

JWT_SECRET_KEY=""

# https://github.com/vercel/ms#ms
JWT_ACCESS_EXPIRES_IN=""
JWT_REFRESH_EXPIRES_IN=""

DB_HOST=""
DB_PORT=""
DB_USERNAME=""
DB_PASSWORD=""
DB_DATABASE=""
DB_TIMEZONE=""

TYPEORM_VERBOSE="false"

AWS_DEFAULT_REGION=""
AWS_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_BUCKET_NAME=""
