export TZ="Asia/Seoul"
export NODE_ENV="local"
export PORT="8080"

# http://localhost:$PORT
# https://api.promise.local
# https://api.local.promise.co
export API_URL="http://localhost:$PORT"

export JWT_SECRET_KEY=""

# https://github.com/vercel/ms#ms
export JWT_ACCESS_EXPIRES_IN=""
export JWT_REFRESH_EXPIRES_IN=""

export DB_HOST=""
export DB_PORT=""
export DB_USERNAME=""
export DB_PASSWORD=""
export DB_DATABASE=""

export TYPEORM_VERBOSE="false"
