<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/favicon.ico" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@unocss/reset/tailwind.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime/uno.global.js"></script>

  <link rel="stylesheet" href="/assets/dev/style.css">
  <script src="/assets/dev/script.js"></script>

  <title>Promise API | Client</title>
</head>

<body class="container py-20 px-4 mx-auto" style="opacity: 0;">
  <header class="flex gap-2 items-end justify-between">
    <h1 class="font-semibold text-3xl">Promise API 🛠️ Developer</h1>
    <a href="/api" class="font-bold hover:underline text-gray-400">Swagger UI</a>
  </header>

  <main class="py-2 my-10">
    <ul class="flex flex-col gap-4 [&_li]:border [&_li]:hover:border-slate-300 [&_li]:rounded">
      <li>
        <a href="/dev/midpoint" class="p-4 flex flex-col gap-2">
          <b class="text-lg">중간 위치 계산 시뮬레이션</b>
          <p>여러 지점의 위도와 경도를 선택하고, 이를 기반으로 중간 위치를 계산하고 맵 위에 보여줍니다.</p>
        </a>
      </li>
    </ul>
  </main>
</body>

</html>